<div class="container">
    <nav>
        <div>

        </div>
    <ul>
        <li><a href="/">Hjem</a></li>
        <li><a href="/deltagere">Deltagere</a></li>
        <li><a href="/grundere">Grundere</a></li>
        <li><a href="">Turer</a></li>
    </ul>
</nav>
</div>