<div class="container">
    <nav>
        <div>

        </div>
    <ul>
        <li><a href="/basisprogram">Basisprogram</a></li>
        <li><a href="/jobb">Skole- og jobbkordinering</a></li>
        <li><a href="/oss">Om oss</a></li>
        <li><a href="/kontakt">Kontakt oss</a></li>
    </ul>
</nav>
</div>  