<html lang="en">
   
    <%- include("./partials/header.ejs") %>
    <link rel="stylesheet" href="oss.css"/>
<body>
    <div class="basis">
    <%- include("./partials/navbar.ejs") %>

</div>
    <p>ahfesgiuafhaifwifuafiuawfiawfhu</p>
</body>
</html>