.basis {
    background-image: url('/img/jobb-skolekoordinering2-ferdig.png');
    background-attachment: unset;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 150%;
}
body {
    margin: 0;
}