/* basic styles */

/* nav styles */
nav {
  display: block;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #394856;
  text-transform: uppercase;
  float: right;
  width: 100%;
}

nav ul {
  display: block;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
  padding: 0 2% 0 0;
}

/* nav p, */
nav a {
  color: #394856;
  text-decoration: none;
  font-size: 1.5rem;
}

/* hjem */
