/* basic styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* nav styles */
nav {
  display: block;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  text-transform: uppercase;
  float: right;
  width: 100%;
}

nav ul {
  display: block;
  background-color: black;
  opacity: 50%  ;
  padding: 1%;

  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
  padding: 0 2% 0 0;
}

/* nav p, */
nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  float: left;
}

/* hjem */
